In [1]:

def calculate_wage(rate:float , hour:float):
    if hour <=40:
        return hour * rate
    else:
        return 40 * rate + (hour - 40) * 1.5 * rate
    


file_in = open('Data_in/sample_hour_rate.csv')
file_in_readlines = file_in.readlines()
file_out = open("Data_in/wages.csv",mode="w")
file_out.write("name,rate,hour,wage\n")

for emp in file_in_readlines[1:]:
    emp=emp.split(",")
    rate = float(emp[1])
    hour = float(emp[2])
    name = str(emp[0])
    wage = calculate_wage(rate,hour)
    result = f'{name}, {hour}, {rate}, {wage}\n'
    print(result)
    file_out.write(result)


file_out.close()

Venus England, 13.0, 33.0, 429.0

Burke Bond, 26.0, 43.0, 1118.0

Miriam Salas, 5.0, 35.0, 175.0

Rajah Mcconnell, 47.0, 29.0, 1464.5

Noah Potts, 43.0, 34.0, 1513.0

Alma Rosario, 8.0, 40.0, 320.0

Herrod Avila, 46.0, 23.0, 1127.0

James Harmon, 32.0, 32.0, 1024.0

Harrison Nicholson, 30.0, 18.0, 540.0

August Sutton, 12.0, 36.0, 432.0

Yoko Mcdonald, 34.0, 41.0, 1394.0

Silas Baird, 19.0, 48.0, 912.0

Deanna Nunez, 18.0, 27.0, 486.0

Jacob Miles, 23.0, 16.0, 368.0

Shelby Gilbert, 29.0, 16.0, 464.0

Amethyst Bradshaw, 26.0, 20.0, 520.0

Dara Lane, 39.0, 36.0, 1404.0

Lunea Navarro, 37.0, 22.0, 814.0

Jamalia Mcgowan, 39.0, 11.0, 429.0

Oliver Franklin, 14.0, 19.0, 266.0

Philip Dodson, 13.0, 34.0, 442.0

Quamar Newman, 49.0, 25.0, 1337.5

Genevieve James, 35.0, 27.0, 945.0

Donna Hess, 48.0, 16.0, 832.0

Sandra Nielsen, 8.0, 14.0, 112.0

Zenia Henderson, 32.0, 33.0, 1056.0

Roary Trujillo, 38.0, 31.0, 1178.0

Rahim Conner, 16.0, 38.0, 608.0

Janna Rivas, 24.0, 36.0, 864.0

Mona Ashley, 19.0, 38.0, 722.0

In [2]:
def calculate_wage(rate:float , hour:float):
    if hour <=40:
        return hour * rate
    else:
        return 40 * rate + (hour - 40) * 1.5 * rate
    


file_in_us = open('Data_in/hour_rate_dollar.csv')
file_in_readlines_us = file_in_us.readlines()
file_out_us = open("Data_in/wages_dollar.csv",mode="w")
file_out_us.write("name,rate,hour,wage\n")

for emp in file_in_readlines_us[1:]:
    emp=emp.split(",")
    rate = float(emp[1])
    hour_usd = emp[2]
    hour = float(hour_usd[1:])
    name = str(emp[0])
    wage = calculate_wage(rate,hour)
    result = f'{name}, {hour}, {rate}, ${wage:.2f}\n'
    print(result)
    file_out_us.write(result)

file_out_us.close()

Grant Pickett, 32.41, 46.0, $1490.86

Carl Byers, 42.74, 29.0, $1279.19

Drew Lynch, 42.78, 14.0, $618.38

Riley Anderson, 26.83, 25.0, $670.75

Dana Justice, 26.65, 20.0, $533.00

Maxwell Bell, 33.54, 41.0, $1375.14

Linus Mcintosh, 13.66, 44.0, $601.04

Robert Norton, 39.69, 11.0, $436.59

Jolene Summers, 10.06, 35.0, $352.10

Jenette Deleon, 30.62, 43.0, $1316.66

Curran Boyle, 26.12, 41.0, $1070.92

Rhiannon Cohen, 42.19, 41.0, $1774.68

Priscilla Ball, 32.43, 27.0, $875.61

Whilemina Leach, 10.69, 22.0, $235.18

Quinn Fitzgerald, 12.73, 13.0, $165.49

Zeus Gilbert, 28.87, 15.0, $433.05

Leonard Hensley, 46.5, 23.0, $1144.25

Galvin Bolton, 37.87, 43.0, $1628.41

Len Richardson, 35.49, 15.0, $532.35

Katell Sosa, 11.84, 31.0, $367.04

Naomi Duffy, 45.17, 15.0, $716.33

Wylie Goodwin, 44.46, 42.0, $1960.98

Stella Rivers, 29.46, 37.0, $1090.02

Amery Shepard, 49.41, 18.0, $974.07

Beau Mcpherson, 35.5, 15.0, $532.50

Samantha Best, 46.2, 31.0, $1528.30

Vaughan Gray, 43.2, 23.0, $1030.40

Ifeoma Cook, 40.56, 46.0, $1878.64

Lani Coffey, 38.72, 11.0, $425.92

Sylvester Bowman, 47.49, 50.0, $2561.75

In [21]:
def exchange_file_read(file_name):
    
    exhange_rate = open(file_name)
    exhange_rate_lines = exhange_rate.readlines()
    
    rate_dict = {}
    for rate in exhange_rate_lines:
        sign = rate.split(",")[0]
        rate = float(rate.split(",")[1].replace("\n"," "))
        rate_dict[sign]=rate

    return rate_dict

In [24]:
mixed_data_in = open('Data_in/mixed_hour_rate.txt')
dict_exchange_rate = exchange_file_read('data_in/exchange_rate.csv')
file_out = open('data_in/wages_euro_mixed.csv',mode='w')
file_out.write('name,rate,hour,wage\n')
mixed_data_in_lines = mixed_data_in.readlines()
for line in mixed_data_in_lines[1:]:
    line_list = line.split(',')
    name = line_list[0]
    hour = float(line_list[1])
    rate_all = line_list[2].replace('\n','')
    sign = rate_all[0]
    rate = float(rate_all[1])
    rate_currency = dict_exchange_rate[sign]
    wage = rate_currency*calculate_wage(rate,hour)
    result = f'{name},{sign}{rate},{hour},€{wage:.2f}\n'
    file_out.write(result)
    print(result)
    
file_out.close()

ValueError: could not convert string to float: '£'

In [25]:
exhange_rate = open('data_in/exchange_rate.csv')
exhange_rate_lines = exhange_rate.readlines()

print(exhange_rate_lines)

['â‚¬,1.00\n', '$,0.95\n', 'Â£,1.30']

In [27]:
def getChessSquareColor(colum,row):
    if(colum + row) % 2 == 0:
        return "white"
    else:
        return "black"

print(getChessSquareColor(1,2))

black