In [8]:
file_in = open('Data_in/sample_hour_rate.csv')

file_in_lines = file_in.read()

print(file_in_lines)

name,rate,hours
Venus England,33,13
Burke Bond,43,26
Miriam Salas,35,5
Rajah Mcconnell,29,47
Noah Potts,34,43
Alma Rosario,40,8
Herrod Avila,23,46
James Harmon,32,32
Harrison Nicholson,18,30
August Sutton,36,12
Yoko Mcdonald,41,34
Silas Baird,48,19
Deanna Nunez,27,18
Jacob Miles,16,23
Shelby Gilbert,16,29
Amethyst Bradshaw,20,26
Dara Lane,36,39
Lunea Navarro,22,37
Jamalia Mcgowan,11,39
Oliver Franklin,19,14
Philip Dodson,34,13
Quamar Newman,25,49
Genevieve James,27,35
Donna Hess,16,48
Sandra Nielsen,14,8
Zenia Henderson,33,32
Roary Trujillo,31,38
Rahim Conner,38,16
Janna Rivas,36,24
Mona Ashley,38,19

In [13]:
file_in = open('Data_in/sample_hour_rate.csv')

file_in_readlines = file_in.readlines()

for emp in file_in_readlines:
    emp=emp.split(",")
    #print(emp)
    rate = emp[1]
    hours = emp[2]
    print(rate)
    print(hours)

rate
hours

33
13

43
26

35
5

29
47

34
43

40
8

23
46

32
32

18
30

36
12

41
34

48
19

27
18

16
23

16
29

20
26

36
39

22
37

11
39

19
14

34
13

25
49

27
35

16
48

14
8

33
32

31
38

38
16

36
24

38
19

In [3]:
file_in = open('Data_in/sample_hour_rate.csv')

for line in range(15):
    file_in_readline = file_in.readline()
    print(file_in_readline)

name,rate,hours

Venus England,33,13

Burke Bond,43,26

Miriam Salas,35,5

Rajah Mcconnell,29,47

Noah Potts,34,43

Alma Rosario,40,8

Herrod Avila,23,46

James Harmon,32,32

Harrison Nicholson,18,30

August Sutton,36,12

Yoko Mcdonald,41,34

Silas Baird,48,19

Deanna Nunez,27,18

Jacob Miles,16,23

In [11]:

def calculate_wage(rate:float , hour:float):
    if hour <=40:
        return hour * rate
    else:
        return 40*rate + (hour - 40) *1.5*rate
    


file_in = open('Data_in/sample_hour_rate.csv')
file_in_readlines = file_in.readlines()
file_out = open("Data_in/wages.csv",mode="w")
file_out.write("name,rate,hour,wage\n")

for emp in file_in_readlines[1:]:
    emp=emp.split(",")
    rate = float(emp[1])
    hour = float(emp[2])
    name = str(emp[0])
    wage = calculate_wage(rate,hour)
    result = f'{name}, {hour}, {rate}, {wage}\n'
    print(result)
    file_out.write(result)


file_out.close()

Venus England, 13.0, 33.0, 429.0

Burke Bond, 26.0, 43.0, 1118.0

Miriam Salas, 5.0, 35.0, 175.0

Rajah Mcconnell, 47.0, 29.0, 1464.5

Noah Potts, 43.0, 34.0, 1513.0

Alma Rosario, 8.0, 40.0, 320.0

Herrod Avila, 46.0, 23.0, 1127.0

James Harmon, 32.0, 32.0, 1024.0

Harrison Nicholson, 30.0, 18.0, 540.0

August Sutton, 12.0, 36.0, 432.0

Yoko Mcdonald, 34.0, 41.0, 1394.0

Silas Baird, 19.0, 48.0, 912.0

Deanna Nunez, 18.0, 27.0, 486.0

Jacob Miles, 23.0, 16.0, 368.0

Shelby Gilbert, 29.0, 16.0, 464.0

Amethyst Bradshaw, 26.0, 20.0, 520.0

Dara Lane, 39.0, 36.0, 1404.0

Lunea Navarro, 37.0, 22.0, 814.0

Jamalia Mcgowan, 39.0, 11.0, 429.0

Oliver Franklin, 14.0, 19.0, 266.0

Philip Dodson, 13.0, 34.0, 442.0

Quamar Newman, 49.0, 25.0, 1337.5

Genevieve James, 35.0, 27.0, 945.0

Donna Hess, 48.0, 16.0, 832.0

Sandra Nielsen, 8.0, 14.0, 112.0

Zenia Henderson, 32.0, 33.0, 1056.0

Roary Trujillo, 38.0, 31.0, 1178.0

Rahim Conner, 16.0, 38.0, 608.0

Janna Rivas, 24.0, 36.0, 864.0

Mona Ashley, 19.0, 38.0, 722.0